@media (min-width: 1280px) {
  /* remove community crap from coin page */

  .dIhIlI {
    grid-template-columns: 25% 75% !important;
  }
  .dIhIlI > div.coin-Community {
    display: none !important;
  }
  .kpxeqD:has(> [data-title="Community"]) {
    display: none !important;
  }

  /* remove community crap from home */

  .jSZydc {
    display: none !important;
  }

  .jWCyUp {
    width: 100% !important;
    max-width: 49% !important;
  }

  .sc-8b3d12a8-1.hDjzmZ.menu-item-2 {
    display: none !important;
  }

  /* remove newsletter block */

  .block-newsletter,
  .seo-text__title {
    display: none !important;
  }

  /* fix weird spacing with pagination */

  .iYjWHz {
    margin-top: 1rem !important;
    margin-bottom: 4rem !important;
  }

  /* remove ads */

  .coin-ad-banner {
    display: none !important;
  }

  /* back up fix position */

  .dmGahW.dmGahW {
    right: 3% !important;
    bottom: 3% !important;
  }

  /* remove top text */

  .dcmrty, .fHrVCz {
    display: none !important;
  }

  .klwDxi, .dxzdHs, .eRwbAi, .bfBsKu {
    margin-top: 2rem !important;
  }
}

/* dark theme */

body.NIGHT {
  --c-color-background-2: #09090B !important;
  --c-color-surface-1: #09090B !important;
  --theme-color: #1437F3 !important;
  --theme-light-blue-font: #1437F3 !important;
  --color-primary-blue: #1437F3 !important;
  --c-color-text-hyperlink: #1437F3 !important;
  --c-color-blue: #1437F3 !important;
  --hover-decrypt: #5E86E3 !important;
  --border-decrypt: #27272A !important;
  --c-color-gray-100: #27272A !important;
  --c-color-gray-200: #27272A !important;
  --c-color-gray-400: #27272A !important;
  --bt-tertiary-bg-color: #27272A !important;
  --card-bg: #27272A !important;
  --light-decrypt: #A1A1A9 !important;
  --shadow-normal: none !important;
}

body.NIGHT .jWCyUp, body.NIGHT .jSZydc, body.NIGHT .kGHtvD, body.NIGHT .hYGzGT, body.NIGHT .dxcftz.dxcftz, body.NIGHT .hDjzmZ:hover > .submenu, body.NIGHT .hDjzmZ:hover .multiSubmenu{
  background-color: var(--c-color-background-2) !important;
  border: 1px solid var(--border-decrypt) !important;
  box-shadow: none !important;
  border-radius: .5rem !important;
}

body.NIGHT .ePzlNg.ePzlNg th{
  border-top: none !important;
}

body.NIGHT .hhFsgh, body.NIGHT .iwgOEX, body.NIGHT .fUKNVN{
  background-color: var(--bt-tertiary-bg-color) !important;
}

body.NIGHT a:hover, a:not([href]):not([tabindex]):hover, a:focus, a:not([href]):not([tabindex]):focus{
  color: var(--hover-decrypt) !important;
}

body.NIGHT .xzPTQ{
  background: var(--hover-decrypt) !important;
}

body.NIGHT div.tippy-box{
  box-shadow: none !important;
}

body.NIGHT .fvfywu{
  padding-bottom: 0.5rem !important;
}

body.NIGHT .kGHtvD, body.NIGHT .kqecWE, body.NIGHT .base-text:not(.jxpCgO), body.NIGHT .gzhhVY{
  color: var(--light-decrypt) !important;
}

body.NIGHT .cFJzZe::before, .fyrqxf::before, body.NIGHT .iJFlGY{
  display: none !important;
}